#root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.cardDiv{
    width:20%;
    margin-right:0;
    padding:0;
}

.cardDiv a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.headline {
    font-size: 2em;
    color: #070D0D;
    margin-top: 40px;
}

.cardDiv h2 {
    text-align: center;
}

.cards{
    width: 100%;
    margin-left: 2%;
}

.cards div{
    display: inline-block;
    text-align: center;
    margin:2%;
    padding:0;

}

.card-title{
    text-align: center;
    color: #707070;
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bookInfo {
    margin-left:auto; 
    margin-right:auto;
  }

.container {
    text-align: center;
    padding: .8em 1.2em;
    box-shadow: 0px 0px 15px #888;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

h1,
.subhead {
    position: relative;
    margin-top: 1%;
    z-index: 3;
}

.cta {
    background-color: #00cc80;
    align-content: center;
    text-align: center;
    width: calc( 100% - 1em);
    display: block;
    color: white;
    border-radius: 20px;
    /* padding: 55em; */
    text-decoration: none;
    font-size: 1.5em;
    margin: 7% auto 7%;
    position: relative;
    z-index: 4;
}

.bookDiv{
    display: inline-block;
    vertical-align: middle;    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(36, 41, 44);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .closebtn {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #faf8f8;
  }

  .sidenav input{
    border-radius: 15px;
    background-color: rgb(236, 244, 252);
    border: 0;
    width: 70%;
    margin:0;
    align-content: center;
    text-align: center;
    padding: 8px 8px 8px 8px;
    margin:0.7em 0 0 1.2em;
    text-decoration: none;
    font-size: 25px;
    color: #535353;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

nav ul {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}


nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 70%;
    padding: 1em 2em;
    background-color: rgb(52, 59, 63)
}

nav ul li a:hover {
    background-color: rgb(65, 74, 78)
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 6%;
    cursor: pointer;
}

@media only screen and (min-width: 650px) {

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
   
    h1 {
        font-size: 3em;
        margin: 0;
    }

    .nav ul {
        width: 40%
    }
}


@media only screen and (min-width: 1024px) {
    .cta {
        width: 50%;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }
    .hide-desktop {
        display: none;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
    }
    nav ul li a:hover {
        background-color: inherit;
    }
    
}

@media only screen and (min-width: 1600px) {
    
    .container {
        width: 80%;
        padding: 0;
    }
    
    h2 {
        margin-top: 4em;
    }
    
}